.calculator {
    width: 300px;
    margin: 40px auto;
    background: #222;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

input {
    width: 100%;
    height: 60px;
    font-size: 28px;
    text-align: right;
    margin-bottom: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 22px;
    background: #444;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
