.contact-page {
  padding: 80px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  margin: auto;
}

input, textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

button {
  background: #00ff90;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}
