.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1100px;
  padding: 50px 60px;
  border-radius: 20px;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 0 50px rgba(0, 255, 150, 0.25);
}

.hero-text h1 {
  font-size: 46px;
  margin-bottom: 12px;
}

.hero-text p {
  font-size: 20px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.hero-text {
  max-width: 520px;
}

.hero-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #00ff99;
  box-shadow: 0 0 30px #00ff99;
}

.section-title {
  font-size: 32px;
  margin-top: 60px;
  margin-bottom: 25px;
}

.project-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 90%;
  max-width: 900px;
}

.card {
  width: 250px;
  padding: 28px;
  text-align: center;
  border-radius: 16px;
  border: 1px solid rgba(0, 255, 153, 0.4);
  background: rgba(255,255,255,0.06);
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 20px rgba(0,255,153, 0.25);
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 30px rgba(0,255,153, 0.5);
}
